html, body {
    height: 100%;
    background-color: white;
}

.page-container {
    height: 100%;
}

.split-panel-container {
    height: calc(100% - 60px - 40px - 40px);
    padding: 10px 26px 26px 26px;
    background-color: #fcfcfc;
}

.split-panel-container .split-panel {
    height: 100%;
    width: calc(50% - 26px);
}

.split-panel-container .left {
    float: left;
    margin-right: 13px;
}

.split-panel-container .right {
    float: left;
    padding-left: 26px;
}

textarea {
    height: calc(100% - 32px);
    width: 100%;
    resize: none;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    font-family: monospace;
    padding: 5px;
    white-space: pre;
    overflow: scroll;
    word-wrap: normal;
}

#parse-results {
    height: calc(100% - 32px);
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    font-family: monospace;
    padding: 5px;
    white-space: pre;
    overflow: scroll;
    background-color: white;
}

.page-header {
    font-family: Play, Tahoma, Geneva, sans-serif;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    background-color: #205080;
    border-bottom: 1px solid black;
    color: #f5f5f5;
    vertical-align: middle;
    padding-left: 25px;
}

.page-header a {
    color: #7FB4DB;
    text-decoration: none;
}

.page-header a:hover
{
    border-bottom: solid 2px #f5f5f5;
}

.page-footer {
    font-family: 'Josefin Sans', Tahoma, Geneva, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    color: #505050;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.page-footer a {
    color: #505050;
    text-decoration: none;
    border-bottom: dotted 1px #808080;
}

.page-footer a:hover
{
    border-bottom: solid 1px #808080;
}

.error {
    color : #900000;
}