<!DOCTYPE html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/html5boilerplate-normalize.css">
        <link rel="stylesheet" href="css/html5boilerplate.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Play|Josefin+Sans">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app="TomlOnlineParser"><!--ng-strict-di-->
        <div class="page-container" ng-controller="DefaultController">
            <div class="page-header">
                [<a href="https://github.com/toml-lang/toml" target="_blank">TOML</a>.online.parser]
            </div>
            <div class="split-panel-container">
                <div class="split-panel left">
                    <label for="toml">TOML Code</label>
                    <textarea name="toml" id="toml" autofocus ng-model="toml" ng-model-options="{ debounce: 1500 }" ng-change="onTomlChange()"></textarea>
                </div>
                <div class="split-panel right">
                    <label ng-bind="parseResultsLabelCaption"></label>
                    <div name="parse-results" id="parse-results" ng-class="{error: isError}" ng-bind="parseResults"></div>
                </div>
            </div>
            <div class="page-footer">
                <a href="https://bitbucket.org/ovonick/toml-online-parser" target="_blank">TOML Online Parser</a> is powered by <a href="http://github.com" target="_blank">tomlette v0.4.3</a>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
